@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}
@-moz-document url-prefix() { 
  select {
    text-indent: -2px
  }
}

* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
            user-select: none;
}

html {
  background-color: #fffbff;
}

input {
  -webkit-touch-callout: text;
    -webkit-user-select: text;
      -khtml-user-select: text;
        -moz-user-select: text;
          -ms-user-select: text;
            user-select: text;
}